<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
      *{
        margin: 0;
        padding: 0;
        list-style: none;
        text-decoration: none;
        font-family: helvetica,arial,sans-serif;
      }
      .nav-bar{
        position: fixed;
        left: 0;
        width: 250px;
        height: 100%;
        background-color: #14CF00;
      }
      .nav-bar header{
          font-size: 25px;
          color: white;
          line-height: 70px;
          text-align: center;
          user-select: none;
          margin-top: 20px;
          margin-bottom: 20px;
      }
      .nav-bar ul li i{
        margin-right: 15px;
      }
      .nav-bar ul li a{
        display: block;
        font-size: 18px;
        line-height: 25px;
        color: white;
        padding: 40px;
        box-sizing: border-box;
        border: 1px solid white;
        transition: 0.4s;
      }
      .nav-bar ul a:hover{
        padding-left: 50px;
      }
      #menu{
        display:none;
      }
      .menu-bar i{
        position: absolute;
      }
      .modals .btn{
        border-radius: 10px;
        padding: 1rem;
        color: white;
        border: 1px solid white;
        background-color: #14CF00;
        margin-left: 60rem;
        margin-top: 20rem;
      }
      .modals .btn:hover{
        background-color: #005706;
        cursor: pointer;
      }
      .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
      }

      /* Modal Content/Box */
      .modal-content {
        background-color: #fefefe;
        margin: 15% auto; /* 15% from the top and centered */
        padding: 20px;
        border: 1px solid #888;
        width: 30%; /* Could be more or less, depending on screen size */
      }

      .modal-content h1{
        color: #14CF00;
        margin-bottom: 2rem;
      }
      .modal-content .input{
        display:flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 2rem;
      }
      .modal-content .input #join2{
        border-radius: 13px;
        margin-left: 2rem;
        padding: 0.7rem;
        color: white;
        border: 1px solid white;
        background-color: #14CF00;
      }
      .modal-content .input #join2:hover{
        background-color: #005706;
        cursor: pointer;
      }
      .modal-content .input #roomid{
        border-radius: 8px;
        border: 1px solid #525760;
        padding: 0.4rem;
      }
      /* The Close Button */
      .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
      }

      .close:hover,
      .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
      }
      @media screen and (max-width: 850px) {
        .nav-bar ul li a span{
          display: none;
        }
        .nav-bar{
          width: 100px;
        }
        .nav-bar li a i {
            display: block;
            text-align: center;
            margin-left: 0;
            line-height: 80px;
            font-size: 20px;
        }
      }
    </style>
  </head>
  <body>
    <input type="checkbox" id="menu"/>
    <label for="menu" class="menu-bar">
        <i class="fa fa-bars" style="font-size: 25px;color: blue"></i>
    </label>
    <div class="nav-bar">
      <header><i class="fa fa-user-circle-o" style="margin-right: 10px;"></i>Student Dash</header>
      <ul>
        <li><a href="/auth/users"><i class="fa fa-id-card"></i><span>Users</span></a></li>
        <li><a href="/auth/registration"><i class="fa fa-user-plus"></i><span>Register Users</span></a></li>
        <li><a href="/auth/logs"><i class="fa fa-sliders"></i><span>Logs</span></a></li>
        <li><a href="/logout"><i class="fa fa-power-off"></i><span>Logout</span></a></li>
      </ul>
    </div>
    <div class="modals">
      <button id="join" class="btn">Join Room</button>
      <!-- The Modal -->
      <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
          <h1><center>Create Room</center></h1>
          <span class="close">&times;</span>
          <div class="input">
            <input type="text" id="roomid" placeholder="Enter Room ID ..."/><br><br>
            <input type="submit" value="Join" id="join2"/>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script>
    var modal = document.getElementById("myModal");
    var btn = document.getElementById("join");
    var span = document.getElementsByClassName("close")[0];

    btn.onclick = function() {
      modal.style.display = "block";
    }
    span.onclick = function() {
      modal.style.display = "none";
    }
    window.onclick = function(event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }
  </script>
</html>
