<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <h1>
        Hello Teacher
    </h1><br><br>
    <form action="/logout" method="POST">
        <input type="submit" value="Logout"/>
    </form>
    <br>
    <form action='/room' method='POST'>
        <input type="text" name="code" placeholder="Enter Room Code" required><br><br>
        <input type="submit" value="Join Room">
    </form>
</body>
</html>